<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.mobiledoctor">
    <!-- Vibration Permission -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Network permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Bluetooth permission -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- WIFI Permission -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Allows to use android camera feature -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- Flash light permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- Allows access to the flashlight -->
    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TestTouch" />
        <activity android:name=".TestPower"
            android:label="Power Button"/>
        <activity android:name=".TestVolume"
            android:label="Volume Button"/>
        <activity android:name=".TestHomeButton"
            android:label="Home Button"/>
        <activity android:name=".TestHeadphoneJack"
            android:label="Headphone Jack"/>
        <activity android:name=".TestStorage"
            android:label="Storage"/>
        <activity android:name=".TestMemory"
            android:label="Memory"/>
        <activity android:name=".TestVibration"
            android:label="Vibration"/>
        <activity android:name=".TestSpecification"
            android:label="Device Specification"/>
        <activity android:name=".TestCellular"
            android:label="Cellular Network"/>
        <activity android:name=".TestWIFI"
            android:label="WIFI"/>
        <activity android:name=".TestBluetooth"
            android:label="Bluetooth"/>
        <activity android:name=".TestDimming"
            android:label="Dimming"/>
        <activity android:name=".TestCharging"
            android:label="Charging Port"/>
        <activity android:name=".TestBattery"
            android:label="Battery"/>
        <activity android:name=".TestFlash"
            android:label="Flashlight"/>
        <activity android:name=".TestCamera"
            android:label="Camera"/>
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".TestBattery$isCharging"/>
        <receiver android:name=".TestCellular$NetworkChangeReceiver"/>
        <receiver android:name=".TestHeadphoneJack$HeadsetStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" />
            </intent-filter>
        </receiver>
    </application>

</manifest>